---
import { getChapters } from '../data/manga';
import ChapterPagination from './ChapterPagination';
import ChapterSearch from './ChapterSearch';

const chapters = await getChapters();
const reversedChapters = [...chapters].reverse();
const totalPages = Math.ceil(reversedChapters.length / 20);
---

<div class="space-y-6">
  <ChapterSearch client:load />
  <ChapterPagination 
    client:load 
    chapters={reversedChapters} 
    totalPages={totalPages}
  />
</div>